.custom-nav {
    background-color: indigo; 
    outline: 1px solid ;
}

.navbar-brand {
    color: fuchsia!important;
}

.nav-link {
    color: fuchsia!important;
}

.dropdown-menu {
    background-color: darkmagenta!important;
}

.dropdown-item {
    color: fuchsia!important;
}

.d-block{
    width: 100%;
    height: 94vh;
    position: relative;
    z-index:5;
}

 @keyframes piscar {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; } 
}

.Imagem{
    width: 38%; 
    height: 40%; 
    position: absolute; 
    z-index:6;
    animation: piscar 5s infinite alternate;
}