/* day */

.custom-nav {
    background-color: indigo; 
    outline: 1px solid ;
}

.navbar-brand {
    color: fuchsia!important;
}

.nav-link {
    color: fuchsia!important;
}

.dropdown-menu {
    background-color: darkmagenta!important;
}

.dropdown-item {
    color: fuchsia!important;
}

 @keyframes piscar {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; } 
}

.Imagem{
    animation: piscar 5s infinite alternate;
}